* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.loginform{
    padding: 30px;
    height: 80vh;
    
}


#loginForm {
    border: 2px solid brown;
    padding:10px;
    width: 50%;
}


.loginheading {
    padding: 20px;
    text-align: center;
    color: green;
}

.registerHeading {
    padding: 20px;
    text-align: center;
    color: green;
}

.register {
    padding: 20px;
    height: auto;
}

#register {
    border: 2px solid brown;
    padding: 10px;
    width: 50%;
}



a {
    text-decoration: none;
}

h1,h4 {

    text-align: center;
    color: green;

}


h5 {

    text-align: center;

}


p {

    color: grey;
    text-align: center;

}


a {

    color:green;

}


#formSectionH2 {

    color: white;
    text-align: center;
    border-radius: 50%;
    background-color: blueviolet;

}


.formSection {

    margin: 30px;
    background-color: white;
    width: 30%;
    border-radius: 10px;

}


.main {

    margin: auto;
    padding: 10px;


}


.mySelect {

    padding: 10px;

}


.myBtn {

    float: right;

}

b{
    color: brown;
}
